form {
    border: 1.5px solid var(--colors-border);
    border-left: 3px solid var(--colors-border);
    font-family: var(--font-primary);
  
    box-shadow: var(--box-shadow);
    input {
      @include reset-input;
    }
    textarea {
      @include reset-textarea;
    }
  
    .form__group {
      display: flex;
      &:not(:last-of-type) {
        border-bottom: 1.5px solid var(--colors-border);
      }
      > * {
        flex: 1;
        padding: 6px;
      }
      > label {
        max-width: 13rem;
        border-right: 1.5px solid var(--colors-border);
        font-weight: 700;
      }
  
      textarea {
        height: 60rem;
      }
  
      textarea, input {
        font-family: var(--font-primary);
        font-size: var(--font-size-rg);
        &::placeholder{
          font-family: inherit;
          font-size: inherit;
        }
      }
    }
  }

  input[type="file"] {
    display: none;
  }
  
  p#no-email-alert {
    color: var(--colors-alert);
    font-weight: 500;
  }
  
  p#display-more {
    color: var(--colors-success);
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
  }