html {
  box-sizing: border-box;
  font-size: 62.5%;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // text-rendering: optimizeLegibility;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  font-synthesis: none !important;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--colors-text);
  font-size: var(--font-size-rg);
  font-family: var(--font-primary);
  background-color: var(--colors-gray0);
  line-height: 1.1;
  text-align: justify;
  
}

*[data-enabled="false"] {
  pointer-events: none;
  opacity: 0.4;
}

h1 {
  font-size: inherit;
  font-weight: 500;
  text-transform: uppercase;
}

h2,
h3 {
  // font-weight: 700;
  font-size: inherit;
}

p {
  line-height: 1.2;
}

.section-title {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid var(--color-border-primary);
}

.block-multiling {
  display: flex;
  flex-direction: column;

  &.block-multiling--layout1 {
    gap: 1rem;
  }

  &.block-multiling--layout2 {
    flex-direction: row;
    gap: 1rem;

    > p {
      flex: 1;
    }
  }

  .block-multiling__item--en {
    font-weight: 500;
    font-family: var(--font-primary);
  }
  .block-multiling__item--fr {
    font-weight: 400;
    font-family: var(--font-primary);
  }
}

.spacer {
  display: flex;
  justify-content: center;
}
